@import 'variables.scss';

$CELL_BOLD_BORDER: 0.15em solid;
$CELL_NORMAL_BORDER: 0.05rem solid;

.cell-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    //outline: 1px solid $COLOR_HIGHLIGHT;
    border-radius: 0.1rem;
}

.cell {
    background-color: $COLOR_DARK;
    border: $COLOR_HIGHLIGHT $CELL_NORMAL_BORDER;
    border-radius: 0.1rem;
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin: 0;
    align-items: center;
    cursor: pointer;

    .num {
        position: absolute;
        width: 20%;
        margin: 0;
        top: 5%;
        left: 10%;
        // outline: 1px solid red;
        font-family: $MAIN_FONT;
        color: $COLOR_HIGHLIGHT;
      }

    .letter {
        width: 100%;
        text-align: center;
        left: 0;
        margin: 0;
        // outline: 1px solid red;
        position: absolute;
        font-family: $MAIN_FONT;
        color: $COLOR_HIGHLIGHT;
    }

    &.empty {
        background-color: transparent;
        &.T1:hover {
            border: $COLOR_TEAM_1 $CELL_BOLD_BORDER;
        }
        &.T2:hover {
            border: $COLOR_TEAM_2 $CELL_BOLD_BORDER;
        }
      }
  
    &.unguessed {
      &.team1 {
        background-color: $COLOR_TEAM_1;
      }
      &.team2 {
        background-color: $COLOR_TEAM_2;
      }
      &.T1:hover {
        border: $COLOR_TEAM_1_LIGHTER $CELL_BOLD_BORDER;
      }
      &.T2:hover {
        border: $COLOR_TEAM_2_LIGHTER $CELL_BOLD_BORDER;
      }
    }
  
    &.guessed {
        cursor: default;
      &.team1 {
        border-color: $COLOR_TEAM_1;
      }
      &.team2 {
        border-color: $COLOR_TEAM_2;
      }
      &:hover {
        border-width: $COLOR_HIGHLIGHT $CELL_NORMAL_BORDER;
      }
    }
  
    &.temp-block, &.block {
        cursor: default;
      &.temp-block {
        background-color: $COLOR_NEUTRAL;
      }
      &.block {
        background-color: $COLOR_HIGHLIGHT;
      }
      &:hover {
        border: $COLOR_HIGHLIGHT $CELL_NORMAL_BORDER;
      }
    }
  }
  