@import 'variables.scss';

$BOLD_BORDER: 0.2rem solid;
$NORMAL_BORDER: 0.1rem solid;

.cell-container {
    display: grid;
    width: 100%;
    height: 100%;
    // outline: 2px solid red;
}

.cell {
    background-color: $COLOR_DARK;
    border: $COLOR_HIGHLIGHT $NORMAL_BORDER;
    border-radius: 0.1rem;
    position: relative;
    cursor: pointer;

    .index {
        position: absolute;
        top: 0.2em;
        left: 0.3em;
        font-size: 25px;
        font-family: $MAIN_FONT;
        color: $COLOR_HIGHLIGHT;
      }

    .letter {
        font-size: 60px;
        font-family: $MAIN_FONT;
        color: $COLOR_HIGHLIGHT;
    }

    &.empty {
        &.team1:hover {
            border: $COLOR_TEAM_1 $BOLD_BORDER;
        }
        &.team2:hover {
            border: $COLOR_TEAM_2 $BOLD_BORDER;
        }
      }
  
    &.unguessed {
      &.team1 {
        background-color: $COLOR_TEAM_1;
      }
      &.team2 {
        background-color: $COLOR_TEAM_2;
      }
      &:hover {
        //change to users team color?
        border: $COLOR_HIGHLIGHT_LIGHTER $BOLD_BORDER;
      }
    }
  
    &.guessed {
        cursor: default;
      &.team1 {
        border-color: $COLOR_TEAM_1;
      }
      &.team2 {
        border-color: $COLOR_TEAM_2;
      }
      &:hover {
        border-width: $COLOR_HIGHLIGHT $NORMAL_BORDER;
      }
    }
  
    &.temp-block, &.block {
        cursor: default;
      &.temp-block {
        background-color: $COLOR_NEUTRAL;
      }
      &.block {
        background-color: $COLOR_HIGHLIGHT;
      }
      &:hover {
        border: $COLOR_HIGHLIGHT $NORMAL_BORDER;
      }
    }
  }
  