:root {
  --color-dark: hsl(0, 0%, 9%);
  --color-dark-lighter: #242424;
  --color-dark-darker: #0a0a0a;
  --color-neutral: hsl(26, 7%, 42%);
  --color-neutral-lighter: #80776f;
  --color-neutral-darker: #655d58;
  --color-highlight: hsl(46, 32%, 92%);
  --color-highlight-lighter: #faf9f5;
  --color-highlight-darker: #e8e4d3;
  --color-team-1: hsl(217, 100%, 56%);
  --color-team-1-lighter: #3884ff;
  --color-team-1-darker: #0565ff;
  --color-team-2: hsl(165, 78%, 41%);
  --color-team-2-lighter: #1ad1a3;
  --color-team-2-darker: #14a380;
  --main-font: VT323, monospace;
  --num-grid-cells: 15;
  --min-grid-size: 240px;
}

.cell-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
}

.cell {
  background-color: hsl(0, 0%, 9%);
  border: hsl(46, 32%, 92%) 0.05rem solid;
  border-radius: 0.1rem;
  display: flex;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  align-items: center;
  cursor: pointer;
}
.cell .num {
  position: absolute;
  width: 20%;
  margin: 0;
  top: 5%;
  left: 10%;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
}
.cell .letter {
  width: 100%;
  text-align: center;
  left: 0;
  margin: 0;
  position: absolute;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
}
.cell.empty {
  background-color: transparent;
}
.cell.empty.T1:hover {
  border: hsl(217, 100%, 56%) 0.15em solid;
}
.cell.empty.T2:hover {
  border: hsl(165, 78%, 41%) 0.15em solid;
}
.cell.unguessed.team1 {
  background-color: hsl(217, 100%, 56%);
}
.cell.unguessed.team2 {
  background-color: hsl(165, 78%, 41%);
}
.cell.unguessed.T1:hover {
  border: #3884ff 0.15em solid;
}
.cell.unguessed.T2:hover {
  border: #1ad1a3 0.15em solid;
}
.cell.guessed {
  cursor: default;
}
.cell.guessed.team1 {
  border-color: hsl(217, 100%, 56%);
}
.cell.guessed.team2 {
  border-color: hsl(165, 78%, 41%);
}
.cell.guessed:hover {
  border-width: hsl(46, 32%, 92%) 0.05rem solid;
}
.cell.temp-block, .cell.block {
  cursor: default;
}
.cell.temp-block.temp-block, .cell.block.temp-block {
  background-color: hsl(26, 7%, 42%);
}
.cell.temp-block.block, .cell.block.block {
  background-color: hsl(46, 32%, 92%);
}
.cell.temp-block:hover, .cell.block:hover {
  border: hsl(46, 32%, 92%) 0.05rem solid;
}