@import 'variables.scss';
.clue-title {
    font-family: $MAIN_FONT;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: $COLOR_DARK;
    &.T1 {
        color: $COLOR_TEAM_1;
    }
    &.T2 {
        color: $COLOR_TEAM_2;
    }
}
.cluelist {
    text-align: center;
    list-style: none;
    padding: 0.3rem 0rem 3rem 0rem;
    margin: 0;
    width: max($MIN_GRID_SIZE, 40vh);

    li {
        background-color: transparent;
        font-size: 1rem;
        font-family: $MAIN_FONT;
        padding: 0.05rem;
        color: $COLOR_HIGHLIGHT;
        position: relative;

        &.team1::before {
            content: attr(data-num) ". ";
            color: $COLOR_TEAM_1;
        }
        &.team2::before {
            content: attr(data-num) ". ";
            color: $COLOR_TEAM_2; 
        }

    }
}
