@import 'variables.scss';

.grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat($NUM_GRID_CELLS, 1fr);
    grid-template-rows: repeat($NUM_GRID_CELLS, 1fr);
}
