@import url("https://fonts.googleapis.com/css?family=VT323");
:root {
  --color-dark: hsl(0, 0%, 9%);
  --color-dark-lighter: #242424;
  --color-dark-darker: #0a0a0a;
  --color-neutral: hsl(26, 7%, 42%);
  --color-neutral-lighter: #80776f;
  --color-neutral-darker: #655d58;
  --color-highlight: hsl(46, 32%, 92%);
  --color-highlight-lighter: #faf9f5;
  --color-highlight-darker: #e8e4d3;
  --color-team-1: hsl(217, 100%, 56%);
  --color-team-1-lighter: #3884ff;
  --color-team-1-darker: #0565ff;
  --color-team-2: hsl(165, 78%, 41%);
  --color-team-2-lighter: #1ad1a3;
  --color-team-2-darker: #14a380;
  --main-font: VT323, monospace;
  --grid-size: 10;
}

.grid {
  aspect-ratio: 1/1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

:root {
  --color-dark: hsl(0, 0%, 9%);
  --color-dark-lighter: #242424;
  --color-dark-darker: #0a0a0a;
  --color-neutral: hsl(26, 7%, 42%);
  --color-neutral-lighter: #80776f;
  --color-neutral-darker: #655d58;
  --color-highlight: hsl(46, 32%, 92%);
  --color-highlight-lighter: #faf9f5;
  --color-highlight-darker: #e8e4d3;
  --color-team-1: hsl(217, 100%, 56%);
  --color-team-1-lighter: #3884ff;
  --color-team-1-darker: #0565ff;
  --color-team-2: hsl(165, 78%, 41%);
  --color-team-2-lighter: #1ad1a3;
  --color-team-2-darker: #14a380;
  --main-font: VT323, monospace;
  --grid-size: 10;
}

:root {
  --color-dark: hsl(0, 0%, 9%);
  --color-dark-lighter: #242424;
  --color-dark-darker: #0a0a0a;
  --color-neutral: hsl(26, 7%, 42%);
  --color-neutral-lighter: #80776f;
  --color-neutral-darker: #655d58;
  --color-highlight: hsl(46, 32%, 92%);
  --color-highlight-lighter: #faf9f5;
  --color-highlight-darker: #e8e4d3;
  --color-team-1: hsl(217, 100%, 56%);
  --color-team-1-lighter: #3884ff;
  --color-team-1-darker: #0565ff;
  --color-team-2: hsl(165, 78%, 41%);
  --color-team-2-lighter: #1ad1a3;
  --color-team-2-darker: #14a380;
  --main-font: VT323, monospace;
  --grid-size: 10;
}

.cell-container {
  display: grid;
  width: 100%;
  height: 100%;
}

.cell {
  background-color: hsl(0, 0%, 9%);
  border: hsl(46, 32%, 92%) 0.1rem solid;
  border-radius: 0.1rem;
  position: relative;
  cursor: pointer;
}
.cell .index {
  position: absolute;
  top: 0.2em;
  left: 0.3em;
  font-size: 25px;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
}
.cell .letter {
  font-size: 60px;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
}
.cell.empty.team1:hover {
  border: hsl(217, 100%, 56%) 0.2rem solid;
}
.cell.empty.team2:hover {
  border: hsl(165, 78%, 41%) 0.2rem solid;
}
.cell.unguessed.team1 {
  background-color: hsl(217, 100%, 56%);
}
.cell.unguessed.team2 {
  background-color: hsl(165, 78%, 41%);
}
.cell.unguessed:hover {
  border: #faf9f5 0.2rem solid;
}
.cell.guessed {
  cursor: default;
}
.cell.guessed.team1 {
  border-color: hsl(217, 100%, 56%);
}
.cell.guessed.team2 {
  border-color: hsl(165, 78%, 41%);
}
.cell.guessed:hover {
  border-width: hsl(46, 32%, 92%) 0.1rem solid;
}
.cell.temp-block, .cell.block {
  cursor: default;
}
.cell.temp-block.temp-block, .cell.block.temp-block {
  background-color: hsl(26, 7%, 42%);
}
.cell.temp-block.block, .cell.block.block {
  background-color: hsl(46, 32%, 92%);
}
.cell.temp-block:hover, .cell.block:hover {
  border: hsl(46, 32%, 92%) 0.1rem solid;
}

.gameboard {
  margin-top: 1rem;
  width: fit-content;
  display: grid;
  grid-template-columns: 70px auto 70px;
  grid-template-rows: 70px auto 70px;
}

.grid-container {
  grid-area: 1/2/4/3;
  aspect-ratio: 1/1;
  width: max(250px, 40vh);
  margin: 0 0.7rem;
}

.player-card {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.T1 {
  background-color: hsl(217, 100%, 56%);
}
.T1-P1 {
  grid-area: 1/1/2/2;
}
.T1-P2 {
  grid-area: 3/1/4/2;
}

.T2 {
  background-color: hsl(165, 78%, 41%);
}
.T2-P1 {
  grid-area: 1/3/2/4;
}
.T2-P2 {
  grid-area: 3/3/4/4;
}

.col {
  position: relative;
  width: 100%;
}
.col-left {
  grid-area: 2/1/3/2;
}
.col-right {
  grid-area: 2/3/3/4;
}
.col .team-label {
  font-size: 1.8rem;
  position: absolute;
  white-space: nowrap;
  top: 50%;
}
.col .team-label-blue {
  grid-area: 2/4/3/5;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  left: 55%;
  color: hsl(165, 78%, 41%);
}
.col .team-label-green {
  grid-area: 2/2/3/3;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  left: 45%;
  color: hsl(217, 100%, 56%);
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max(250px, 40vh);
  margin: 1rem 0 0.5rem 0rem;
}

.default-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.1rem;
  cursor: pointer;
}
.default-button.T2 {
  background-color: hsl(165, 78%, 41%);
  border: 0.12rem solid hsl(217, 100%, 56%);
}
.default-button.T2:hover {
  background-color: #1ad1a3;
}
.default-button.T2:active {
  background-color: #14a380;
}
.default-button.T1 {
  background-color: hsl(217, 100%, 56%);
  border: 0.12rem solid hsl(165, 78%, 41%);
}
.default-button.T1:hover {
  background-color: #3884ff;
}
.default-button.T1:active {
  background-color: #0565ff;
}

.menu-message {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.1rem;
}
.menu-message.T2 {
  background-color: hsl(165, 78%, 41%);
  border: 0.12rem solid hsl(217, 100%, 56%);
}
.menu-message.T1 {
  background-color: hsl(217, 100%, 56%);
  border: 0.12rem solid hsl(165, 78%, 41%);
}

/* Page Options Menu */
.options-menu {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.15rem;
}

.half-button, .full-width-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.1rem;
  cursor: pointer;
}

.half-button {
  border: none;
  height: 1.5rem;
}
.half-button.T1 {
  background-color: hsl(165, 78%, 41%);
}
.half-button.T1:hover {
  background-color: #1ad1a3;
}
.half-button.T1:active {
  background-color: #14a380;
}
.half-button.T2 {
  background-color: hsl(217, 100%, 56%);
}
.half-button.T2:hover {
  background-color: #3884ff;
}
.half-button.T2:active {
  background-color: #0565ff;
}

.full-width-button {
  grid-column: 1/span 2;
  height: 1.5rem;
}
.full-width-button.T2 {
  background-color: hsl(165, 78%, 41%);
  border: 0.12rem solid hsl(217, 100%, 56%);
}
.full-width-button.T2:hover {
  background-color: #1ad1a3;
}
.full-width-button.T2:active {
  background-color: #14a380;
}
.full-width-button.T1 {
  background-color: hsl(217, 100%, 56%);
  border: 0.12rem solid hsl(165, 78%, 41%);
}
.full-width-button.T1:hover {
  background-color: #3884ff;
}
.full-width-button.T1:active {
  background-color: #0565ff;
}

/* Text Input */
.input-container {
  display: grid;
  margin: 0.075rem 0;
  width: 100%;
  height: 1.5rem;
  grid-template-columns: min-content auto min-content;
}

label.menu-input {
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
  background-color: hsl(217, 100%, 56%);
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.1rem;
  padding: 0 0.5rem;
  text-wrap: nowrap;
}
label.menu-input.T2 {
  background-color: hsl(217, 100%, 56%);
}
label.menu-input.T1 {
  background-color: hsl(165, 78%, 41%);
}

input.menu-input {
  height: calc(100% - 0.22rem);
  background-color: hsl(0, 0%, 9%);
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
  font-size: 1.2rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
  margin: 0 0 0 -0.12rem;
  border-radius: 0.1rem;
  overflow-x: scroll;
}
input.menu-input.T2 {
  border: 0.12rem solid hsl(217, 100%, 56%);
}
input.menu-input.T1 {
  border: 0.12rem solid hsl(165, 78%, 41%);
}
input.menu-input:focus {
  outline: none;
  border-color: hsl(46, 32%, 92%);
}
input.menu-input.inactive {
  pointer-events: none;
  cursor: not-allowed;
}

.enter-button {
  height: 100%;
  border: none;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  color: hsl(46, 32%, 92%);
  border-radius: 0.1rem;
  margin: 0 0 0 -0.12rem;
  cursor: pointer;
  display: block;
}
.enter-button.T2 {
  background-color: hsl(217, 100%, 56%);
}
.enter-button.T2:hover {
  background-color: #3884ff;
}
.enter-button.T2:active {
  background-color: #0565ff;
}
.enter-button.T1 {
  background-color: hsl(165, 78%, 41%);
}
.enter-button.T1:hover {
  background-color: #1ad1a3;
}
.enter-button.T1:active {
  background-color: #14a380;
}
.enter-button.hide {
  display: none;
}

/* Four Direction Navigation Bar */
.cell-nav-bar {
  display: grid;
  width: 100%;
  height: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.15rem;
  margin: 0.05rem 0;
}

.qtr-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
  font-size: 1.2rem;
  border-radius: 0.1rem;
  cursor: pointer;
}
.qtr-button.T1 {
  background-color: hsl(165, 78%, 41%);
}
.qtr-button.T1:hover {
  background-color: #1ad1a3;
}
.qtr-button.T1:active {
  background-color: #14a380;
}
.qtr-button.T2 {
  background-color: hsl(217, 100%, 56%);
}
.qtr-button.T2:hover {
  background-color: #3884ff;
}
.qtr-button.T2:active {
  background-color: #0565ff;
}

/* Two Direction Navigation Bar */
.word-nav-bar {
  margin: 0.075rem 0;
  display: grid;
  width: 100%;
  height: 1.5rem;
  grid-template-columns: min-content auto min-content;
}

.curr-nav-display {
  height: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 9%);
  font-family: "VT323", monospace;
  color: hsl(46, 32%, 92%);
  font-size: 1.2rem;
  padding: 0 0.5rem;
  margin: 0 -0.12rem;
  text-transform: uppercase;
  border-radius: 0.1rem;
  overflow-x: scroll;
}
.curr-nav-display.T2 {
  border: 0.12rem solid hsl(217, 100%, 56%);
}
.curr-nav-display.T1 {
  border: 0.12rem solid hsl(165, 78%, 41%);
}

.side-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: none;
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  color: hsl(46, 32%, 92%);
  border-radius: 0.1rem;
  padding: 0 0.32rem;
  cursor: pointer;
}
.side-button.T2 {
  background-color: hsl(217, 100%, 56%);
}
.side-button.T2:hover {
  background-color: #3884ff;
}
.side-button.T2:active {
  background-color: #0565ff;
}
.side-button.T1 {
  background-color: hsl(165, 78%, 41%);
}
.side-button.T1:hover {
  background-color: #1ad1a3;
}
.side-button.T1:active {
  background-color: #14a380;
}

/* Clue Display */
.clue-display {
  width: calc(100% - 0.84rem);
  margin: 0.075rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsl(0, 0%, 9%);
  font-family: "VT323", monospace;
  font-size: 0.8rem;
  padding: 0.3rem;
  border-radius: 0.1rem;
  overflow-x: hidden;
  word-wrap: break-word;
}
.clue-display.T2 {
  border: 0.12rem solid hsl(217, 100%, 56%);
  color: hsl(165, 78%, 41%);
}
.clue-display.T1 {
  border: 0.12rem solid hsl(165, 78%, 41%);
  color: hsl(217, 100%, 56%);
}

:root {
  --color-dark: hsl(0, 0%, 9%);
  --color-dark-lighter: #242424;
  --color-dark-darker: #0a0a0a;
  --color-neutral: hsl(26, 7%, 42%);
  --color-neutral-lighter: #80776f;
  --color-neutral-darker: #655d58;
  --color-highlight: hsl(46, 32%, 92%);
  --color-highlight-lighter: #faf9f5;
  --color-highlight-darker: #e8e4d3;
  --color-team-1: hsl(217, 100%, 56%);
  --color-team-1-lighter: #3884ff;
  --color-team-1-darker: #0565ff;
  --color-team-2: hsl(165, 78%, 41%);
  --color-team-2-lighter: #1ad1a3;
  --color-team-2-darker: #14a380;
  --main-font: VT323, monospace;
  --grid-size: 10;
}

.clue-title {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 9%);
}
.clue-title.T1 {
  color: hsl(217, 100%, 56%);
}
.clue-title.T2 {
  color: hsl(165, 78%, 41%);
}

.cluelist {
  text-align: center;
  list-style-position: inside;
  padding: 0.3rem 0rem 3rem 0rem;
  margin: 0;
  width: max(250px, 40vh);
}
.cluelist li {
  background-color: transparent;
  font-size: 1rem;
  font-family: "VT323", monospace;
  padding: 0.05rem;
  color: hsl(46, 32%, 92%);
}
.cluelist li.T1::marker {
  color: hsl(217, 100%, 56%);
}
.cluelist li.T2::marker {
  color: hsl(165, 78%, 41%);
}

:root {
  font-family: "VT323", monospace;
  font-size: 1.2rem;
  color: hsl(46, 32%, 92%);
  background-color: hsl(0, 0%, 9%);
  overflow-y: scroll;
}

.player-name {
  font-size: 2.7rem;
  margin: 0;
  background-color: transparent;
  text-transform: uppercase;
}
.player-name.T1 {
  color: hsl(217, 100%, 56%);
}
.player-name.T2 {
  color: hsl(165, 78%, 41%);
}

.game-title {
  font-size: 4.3rem;
  text-transform: uppercase;
  margin: 0;
}
.game-title span.team1 {
  color: hsl(217, 100%, 56%);
}
.game-title span.team2 {
  color: hsl(165, 78%, 41%);
}

.screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 10px;
}