@import url('https://fonts.googleapis.com/css?family=VT323');
@import './grid.scss';
@import './variables.scss';
@import './cell.scss';

:root {
    font-family: 'VT323', monospace;
    font-size: 22px;
    color: $COLOR_HIGHLIGHT;
    background-color: $COLOR_DARK;
}

.player-name {
    font-size: 2.5rem;
    margin: 0;
}

.game-title {
    font-size: 4.5rem; 
    text-transform: uppercase;
    margin: 0;

    span.team1 {
        color: $COLOR_TEAM_1;
    }

    span.team2 {
        color: $COLOR_TEAM_2;
    }
}

.team1 {
    color: $COLOR_TEAM_1;
}

.team2 {
    color: $COLOR_TEAM_2;
}   

.screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    padding-top: 10px;
  }
  