$BUTTON_GAP: 0.075rem;

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max($MIN_GRID_SIZE, 40vh);
  margin: 1rem 0 0.5rem 0rem;
  // outline: 1px solid red;
}
  .default-button {
    width: 100%;
    margin: $BUTTON_GAP 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $MAIN_FONT;
    color: $COLOR_HIGHLIGHT;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 0.1rem;
    cursor: pointer;
    &.T2{
        background-color: $COLOR_TEAM_2;
        border: 0.12rem solid $COLOR_TEAM_1;
        &:hover {
            background-color: $COLOR_TEAM_2_LIGHTER;
        }
        &:active {
            background-color: $COLOR_TEAM_2_DARKER;
        }
    }
    &.T1{
        background-color: $COLOR_TEAM_1;
        border: 0.12rem solid $COLOR_TEAM_2;
        &:hover {
            background-color: $COLOR_TEAM_1_LIGHTER;
        }
        &:active {
            background-color: $COLOR_TEAM_1_DARKER;
        }
    }
  }

  .menu-message {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $MAIN_FONT;
    color: $COLOR_HIGHLIGHT;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 0.1rem;
    margin: $BUTTON_GAP 0;
    &.T2{
        background-color: $COLOR_TEAM_2;
        border: 0.12rem solid $COLOR_TEAM_1;
    }
    &.T1{
        background-color: $COLOR_TEAM_1;
        border: 0.12rem solid $COLOR_TEAM_2;
    }
  }

//////////////////////////////////////////////////////////////
/* Page Options Menu */
//////////////////////////////////////////////////////////////

.options-menu {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2*$BUTTON_GAP;
  }

  .half-button, .full-width-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: $MAIN_FONT;
    color: $COLOR_HIGHLIGHT;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-radius: 0.1rem;
    cursor: pointer;
  }
  
  .half-button {
    border: none;
    height: 1.5rem;
    &.T1{
      background-color: $COLOR_TEAM_2;
      &:hover {
        background-color: $COLOR_TEAM_2_LIGHTER;
      }
      &:active {
        background-color: $COLOR_TEAM_2_DARKER;
      }
    }
    &.T2{
      background-color: $COLOR_TEAM_1;
      &:hover {
        background-color: $COLOR_TEAM_1_LIGHTER;
      }
      &:active {
        background-color: $COLOR_TEAM_1_DARKER;
      }
    }
  }
  
  .full-width-button {
    grid-column: 1 / span 2; 
    height: 1.5rem;
    &.T2{
        background-color: $COLOR_TEAM_2;
        border: 0.12rem solid $COLOR_TEAM_1;
        &:hover {
            background-color: $COLOR_TEAM_2_LIGHTER;
        }
        &:active {
            background-color: $COLOR_TEAM_2_DARKER;
        }
      }
    &.T1{
        background-color: $COLOR_TEAM_1;
        border: 0.12rem solid $COLOR_TEAM_2;
        &:hover {
            background-color: $COLOR_TEAM_1_LIGHTER;
        }
        &:active {
            background-color: $COLOR_TEAM_1_DARKER;
        }
    }
  }


//////////////////////////////////////////////////////////////
/* Text Input */
//////////////////////////////////////////////////////////////

.input-container {
    display: grid;
    margin: $BUTTON_GAP 0;
    width: 100%;
    height: 1.5rem;
    grid-template-columns: min-content auto min-content;
    }

    label.menu-input {
        display: flex;
        align-items: center; 
        height: 100%;
        border: none;
        font-family: $MAIN_FONT;
        color: $COLOR_HIGHLIGHT;
        background-color: $COLOR_TEAM_1;
        font-size: 1.2rem;
        text-transform: uppercase;
        border-radius: 0.1rem;
        padding: 0 0.5rem;
        text-wrap: nowrap;

        &.T2{
            background-color: $COLOR_TEAM_1;
            }
        &.T1{
            background-color: $COLOR_TEAM_2;
        }
    }

    input.menu-input {
        height: 100%;
        background-color: $COLOR_DARK;
        font-family: $MAIN_FONT;
        color: $COLOR_HIGHLIGHT;
        font-size: 1.2rem;
        padding: 0 0.5rem;
        text-transform: uppercase;
        margin: 0 0 0 -0.12rem;
        border-radius: 0.1rem;
        overflow-x: scroll;
        z-index: 1;

        &.T2{
            border: 0.12rem solid $COLOR_TEAM_1;
        }
        &.T1{
            border: 0.12rem solid $COLOR_TEAM_2;
        }

        &:focus {
            outline: none;
            border-color: $COLOR_HIGHLIGHT; 
            }
        &.inactive {
            pointer-events: none;
            overflow-x: scroll;
            cursor: not-allowed;
        }
    }

    .enter-button {
        height: 100%;
        border: none;
        font-family: $MAIN_FONT;
        font-size: 1.2rem;
        color: $COLOR_HIGHLIGHT;
        border-radius: 0.1rem;
        margin: 0 0 0 -0.12rem;
        cursor: pointer;
        display: block;
        

        &.T2{
            background-color: $COLOR_TEAM_1;
            &:hover {
                background-color: $COLOR_TEAM_1_LIGHTER;
            }
            &:active {
                background-color: $COLOR_TEAM_1_DARKER;
            }
            }
        &.T1{
            background-color: $COLOR_TEAM_2;
            &:hover {
                background-color: $COLOR_TEAM_2_LIGHTER;
            }
            &:active {
                background-color: $COLOR_TEAM_2_DARKER;
            }
        }

        &.hide {
            display: none;
            }
    }


//////////////////////////////////////////////////////////////
/* Four Direction Navigation Bar */
//////////////////////////////////////////////////////////////

.cell-nav-bar {
    display: grid;
    width: 100%;
    height: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2*$BUTTON_GAP;
    row-gap: 0;
    margin: $BUTTON_GAP 0;
}

    .qtr-button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $MAIN_FONT;
        color: $COLOR_HIGHLIGHT;
        font-size: 1.2rem;
        border-radius: 0.1rem;
        cursor: pointer;

        &.T1{
          background-color: $COLOR_TEAM_2;
          &:hover {
            background-color: $COLOR_TEAM_2_LIGHTER;
          }
          &:active {
            background-color: $COLOR_TEAM_2_DARKER;
          }
        }
        &.T2{
          background-color: $COLOR_TEAM_1;
          &:hover {
            background-color: $COLOR_TEAM_1_LIGHTER;
          }
          &:active {
            background-color: $COLOR_TEAM_1_DARKER;
          }
        }
    }


//////////////////////////////////////////////////////////////
/* Two Direction Navigation Bar */
//////////////////////////////////////////////////////////////

.word-nav-bar {
    margin: $BUTTON_GAP 0;
    display: grid;
    width: 100%;
    height: 1.5rem;
    grid-template-columns: min-content auto min-content;
}

    .curr-nav-display {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $COLOR_DARK;
        font-family: $MAIN_FONT;
        color: $COLOR_HIGHLIGHT;
        font-size: 1.2rem;
        padding: 0 0.5rem;
        margin: 0 -0.12rem;
        text-transform: uppercase;
        border-radius: 0.1rem;
        overflow-x: scroll;

        &.T2{
            border: 0.12rem solid $COLOR_TEAM_1;
        }
        &.T1{
            border: 0.12rem solid $COLOR_TEAM_2;
        }
    }


    .side-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border: none;
        font-family: $MAIN_FONT;
        font-size: 1.2rem;
        color: $COLOR_HIGHLIGHT;
        border-radius: 0.1rem;
        padding: 0 0.32rem;
        cursor: pointer;
        

        &.T2{
            background-color: $COLOR_TEAM_1;
            &:hover {
                background-color: $COLOR_TEAM_1_LIGHTER;
            }
            &:active {
                background-color: $COLOR_TEAM_1_DARKER;
            }
            }
        &.T1{
            background-color: $COLOR_TEAM_2;
            &:hover {
                background-color: $COLOR_TEAM_2_LIGHTER;
            }
            &:active {
                background-color: $COLOR_TEAM_2_DARKER;
            }
        }
    }
//////////////////////////////////////////////////////////////
/* Clue Display */
//////////////////////////////////////////////////////////////

.clue-display {
    width: 100%;
    margin: $BUTTON_GAP 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $COLOR_DARK;
    font-family: $MAIN_FONT;
    font-size: 0.8rem;
    padding: 0.3rem;
    border-radius: 0.1rem;
    overflow-x: hidden;
    word-wrap: break-word;

    &.T2{
        border: 0.12rem solid $COLOR_TEAM_1;
        color: $COLOR_TEAM_2;
    }
    &.T1{
        border: 0.12rem solid $COLOR_TEAM_2;
        color: $COLOR_TEAM_1;
    }
}