:root {
  --color-dark: hsl(0, 0%, 9%);
  --color-dark-lighter: #262626;
  --color-dark-darker: #080808;
  --color-neutral: hsl(26, 7%, 42%);
  --color-neutral-lighter: #837972;
  --color-neutral-darker: #625b55;
  --color-highlight: hsl(46, 32%, 92%);
  --color-highlight-lighter: #fcfbf8;
  --color-highlight-darker: #e7e1d0;
  --color-team-1: hsl(217, 100%, 56%);
  --color-team-1-lighter: #3d87ff;
  --color-team-1-darker: #0062ff;
  --color-team-2: hsl(165, 78%, 41%);
  --color-team-2-lighter: #1ad5a7;
  --color-team-2-darker: #149f7c;
  --main-font: VT323, monospace;
  --num-grid-cells: 15;
  --min-grid-size: 240px;
}