// COLORS

// Dark - for background, empty cells
// Black
$COLOR_DARK: hsl(0, 0%, 9%);
$COLOR_DARK_LIGHTER: lighten($COLOR_DARK, 8%);
$COLOR_DARK_DARKER: darken($COLOR_DARK, 8%);

// Neutral - for temporary blocked cells
// Gray
$COLOR_NEUTRAL: hsl(26, 7%, 42%);
$COLOR_NEUTRAL_LIGHTER: lighten($COLOR_NEUTRAL, 8%);
$COLOR_NEUTRAL_DARKER: darken($COLOR_NEUTRAL, 8%);

// Highlight - for text, grid outlines, permanently blocked cells, active player outline
// White
$COLOR_HIGHLIGHT: hsl(46, 32%, 92%);
$COLOR_HIGHLIGHT_LIGHTER: lighten($COLOR_HIGHLIGHT, 8%);
$COLOR_HIGHLIGHT_DARKER: darken($COLOR_HIGHLIGHT, 8%);

// Team 1 - for team 1's cells, team 1's text, some buttons
// Blue
$COLOR_TEAM_1: hsl(217, 100%, 56%);
$COLOR_TEAM_1_LIGHTER: lighten($COLOR_TEAM_1, 8%);
$COLOR_TEAM_1_DARKER: darken($COLOR_TEAM_1, 8%);

// Team 2 - for team 2's cells, team 2's text, some buttons
// Green
$COLOR_TEAM_2: hsl(165, 78%, 41%);
$COLOR_TEAM_2_LIGHTER: lighten($COLOR_TEAM_2, 8%);
$COLOR_TEAM_2_DARKER: darken($COLOR_TEAM_2, 8%);

// FONTS
$MAIN_FONT: 'VT323', monospace;

// GRID-VARS
$NUM_GRID_CELLS: 15; // constrained to [5, 25]
$MIN_GRID_SIZE: max(16px*$NUM_GRID_CELLS, 200px);

@mixin generate-css-variables($variable-map) {
    :root {
      @each $name, $value in $variable-map {
        --#{$name}: #{$value};
      }
    }
}

@include generate-css-variables((
    //COLORS
    color-dark: $COLOR_DARK,
    color-dark-lighter: $COLOR_DARK_LIGHTER,
    color-dark-darker: $COLOR_DARK_DARKER,
    color-neutral: $COLOR_NEUTRAL,
    color-neutral-lighter: $COLOR_NEUTRAL_LIGHTER,
    color-neutral-darker: $COLOR_NEUTRAL_DARKER,
    color-highlight: $COLOR_HIGHLIGHT,
    color-highlight-lighter: $COLOR_HIGHLIGHT_LIGHTER,
    color-highlight-darker: $COLOR_HIGHLIGHT_DARKER,
    color-team-1: $COLOR_TEAM_1,
    color-team-1-lighter: $COLOR_TEAM_1_LIGHTER,
    color-team-1-darker: $COLOR_TEAM_1_DARKER,
    color-team-2: $COLOR_TEAM_2,
    color-team-2-lighter: $COLOR_TEAM_2_LIGHTER,
    color-team-2-darker: $COLOR_TEAM_2_DARKER,

    //FONTS
    main-font: $MAIN_FONT,

    //GRID-VARS
    num-grid-cells: $NUM_GRID_CELLS,
    min-grid-size: $MIN_GRID_SIZE
));